body {
  background: url(../images/background-main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}


#logo {
   height: 50px;
   width: 75px;
}

table tr{
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: grey;
}