body { 
    padding-top: 125px;
    background-color: #eeeeee;
    background: url(../images/background-main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: #ffffff;
}

.navbar {
    -webkit-transition: all ease .3s;
       -moz-transition: all ease .3s;
         -o-transition: all ease .3s;
            transition: all ease .3s;
    background-color: rgba(227, 242, 253, .4);
}
.navbar:hover {
    background-color: rgba(227, 242, 253, 6);
}

#logo {
   height: 50px;
   width: 75px;
}


.jumbotron {
    float: none;
    margin-left: auto;
    margin-right: auto;
    background-color: #e3f2fd!important;
    border-color: #333399!important;
    border-style: solid;
    color: #333399;
    width: 650px;

}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 275px;
}

input {
    margin-bottom: 7px;
}

.radio-inline {
    margin-bottom: 20px;
}
